.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  margin: 2rem 0rem;
}
.menu-items::-webkit-scrollbar {
  display: none;
}
.menu-item {
  min-width: 12%;
  margin-right: 1.5rem;
}
.menu-item-name {
  text-align: center;
  margin: 10px 0px;
  color: rgb(78, 77, 77);
}
.explore-menu {
  margin: 2rem 0rem;
}

.text-2xl {
  margin-bottom: 12px;
  font-weight: 500;
}
.add-cate-img-border {
  border-radius: 50%;
  border: 3px solid orangered;
  padding: 3px;
}
