header {
  width: 100%;
  /* background-color: gray; */
  padding: 1rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
.logo {
  width: 140px;
}

.nav-list {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}
.header-btns {
  display: flex;
  justify-content: space-between;
  width: 15%;
  align-items: center;
}
.sign-up {
  font-size: 17px;
  border: 1px solid black;
  padding: 8px 11px;
  border-radius: 20px;
  background: none;
}
.header-btns svg {
  font-size: 21px;
}

.active {
  color: orangered;
  text-decoration: underline;
  text-underline-offset: 6px;
}
.text-black {
  color: black;
}

/* media query */
@media screen and (max-width: 1024px) {
  .nav-list {
    width: 36%;
  }
  nav {
    width: 95%;
  }
  .btns {
    width: 20%;
  }
  .container {
    width: 95%;
  }
  
}
